@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
/* For CSS Reset - START */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* For CSS Reset - END */

/* For multiple used styling - START */

/* TODO make costume scrollbar */

* {
    box-sizing: border-box;
    color: var(--palette-black);
}

h2 {
    font-size: 5rem;
}

html {
    font: 400 1.25em 'PT Sans Narrow', sans-serif;
    scroll-behavior: smooth;
}

a {
    transition: background-color 0.3s ease;
}

*::selection {
    color: white !important;
}

a:focus, *::selection {
    outline: none;
    background-color: var(--palette-green);
}

:root {
    --palette-red: #FE4B4B;
    --palette-yellow: #FCF876;
    --palette-green: #C3F0CA;
    --palette-black: #212121;
    --element-border-style: 1px solid #D0D4D6ab;
    /*Use this var to the padding-bottom of an element that has an underline for the padding between the text and underline, like the padding between the title "RANDOMIZER" and its underline that is a border bottom*/
    --element-underline-padding: 0.5em;
    /* Use this variable to center the cricle groups on a line. Call this variable on the circle group's top or bottom property. The way it center is by taking 10vh (the same height as each area's padding and subtracting 15px it is half of the height of the circles */
    --circle-centering: calc(10vh - 15px);
    --table-borders: 0.1rem solid #000;
}

.animation-placeholder {
    background: #E5EFE7;
    border-radius: 50px;
}

.fnt-bold {
    font-weight: 700;
}

#area-welcome, #area-input, #area-result {
    padding: 10vh 0;
    height: 100vh;
    width: 100%;
}

/* For multiple used styling - END */

/* For circle group - START */

.circle-group {
    position: absolute;
    width: max-content;
    height: 30px;
    z-index: 3;
}

circle:first-of-type {
    fill: var(--palette-red);
}

circle:nth-of-type(2) {
    fill: var(--palette-yellow);
}

circle:last-of-type {
    fill: var(--palette-green);
}

section[id*="area"] .circle-group {
    top: -15px;
}

/* For circle group - END */

/* For Welcome area - START */

#area-welcome {
    display: flex;
    position: relative;
}

/* For introduction area - START */

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2em;
    border-top: var(--element-border-style);
}

#title-role {
    background-color: var(--palette-red);
    padding: 0 0.5em;
}

#title-randomizer {
    border-bottom: var(--element-border-style);
    padding-bottom: var(--element-underline-padding);
}

#introduction-texts {
    font-size: 1.3em;
    width: 80%;
    line-height: 1.4em;
}

#introduction li {
    list-style: decimal;
    margin-left: 1em;
}

#introduction a {
    color: inherit;
}

#area-welcome .circle-group:first-of-type {
    top: var(--circle-centering);
    left: 5%;
}

#area-welcome .circle-group:last-of-type {
    bottom: var(--circle-centering);
    right: 5%;
}

/* For introduction area - END */

/* For #welcome-animation area - START */

#welcome-animation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--element-border-style);
}

#welcome-animation .animation-placeholder {
    flex-basis: 50%;
    height: 80%;
}

/* For #welcome-animation area - END */

/* For Welcome area - END */

/* For Input area - START */

#area-input {
    align-items: center;
    border-bottom: var(--element-border-style);
    border-top: var(--element-border-style);
    display: flex;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
}

#area-input section[id*="heading"] {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#area-input section[id*="heading"]>*:not(.randomizer-table) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#area-input h2 {
    border-bottom: var(--element-border-style);
    margin-bottom: 0.1em;
    padding-bottom: 0.1em;
}

#area-input section p:first-of-type {
    font-size: 1.8rem;
}

#area-input p.counter {
    font-size: calc(1.8rem + 4px);
}

#area-input p.counter-number {
    font-size: 4rem;
}

/* For randomizer tables - START */

/* TODO make the structure for this styling for making a table with scrollable body as modular classes for my library */

.randomizer-table {
    border-radius: 2.5rem;
    border: var(--table-borders);
    display: flex;
    flex-direction: column;
    flex: 0.4 0.8;
    min-height: 436px;
    min-width: 200px;
    overflow: hidden;
    width: 100%;
}

.randomizer-table>* {
    align-items: center;
    display: flex;
    justify-content: center;
}

.randomizer-table>*:not(:nth-child(2)), #area-input section[id*="heading"]>*:not(.randomizer-table) {
    flex: 0.25;
}

.randomizer-table h3 {
    font-size: 1.5rem;
}

.randomizer-table header {
    border-bottom: var(--table-borders);
}

.randomizer-table>section {
    align-items: stretch;
    flex: 1;
    overflow: hidden;
}

.randomizer-table table {
    width: 100%;
}

/* BUG for some reason the border on the lower rows doesn't show up when there is a lot of rows???? */

.randomizer-table tr:not(:last-of-type) {
    border-bottom: var(--table-borders);
}

.randomizer-table td {
    height: 55px;
    max-height: 55px;
    min-height: 55px;
    vertical-align: middle;
}

.randomizer-table input {
    border: none;
    font-family: inherit;
    font-size: 1.1rem;
    height: 100%;
    outline: none;
    padding: 0;
    text-align: center;
    transition: background-color 0.5s ease;
    width: 100%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.randomizer-table footer {
    background: var(--palette-black);
    border-top: var(--table-borders);
    transition: background-color 0.3s ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.randomizer-table footer p {
    color: white;
    font-size: 1rem !important;
}

.randomizer-table footer:hover, .randomizer-table footer:focus {
    background-color: rgb(58, 53, 53);
    cursor: pointer;
}

.randomizer-table footer:active {
    background-color: #000;
}

/* For randomizer table with 2 columsn - START */

.randomizer-table-double-column header {
    align-items: stretch;
}

.randomizer-table-double-column header * {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.randomizer-table-double-column h3:first-of-type, .randomizer-table-double-column td:first-of-type {
    border-right: var(--table-borders);
}

/* For randomizer table with 2 columsn - END */

/* For members input table - START */

#heading-members .randomizer-table header {
    background-color: var(--palette-red);
}

#heading-members input:focus, #heading-members input:hover {
    background-color: #f37575;
}

/* For members input table - END */

/* For roles input table - START */

#heading-roles .randomizer-table header {
    background-color: var(--palette-yellow);
}

#heading-roles input:focus, #heading-roles input:hover {
    background-color: #fffca4;
}

/* For roles input table - END */

/* For randomizer tables - END */

/* For results area - START */

#area-result {
    align-items: center;
    border-top: var(--element-border-style);
    display: flex;
    flex-direction: column;
    position: relative;
}

/* For results area - END */