@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
/* For CSS Reset - START */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* For CSS Reset - END */

/* For multiple used styling - START */

/* TODO make costume scrollbar */

* {
    box-sizing: border-box;
    color: var(--palette-black);
}

h2 {
    font-size: 5rem;
}

html {
    font: 400 1.25em 'PT Sans Narrow', sans-serif;
    scroll-behavior: smooth;
}

a {
    transition: background-color 0.3s ease;
}

*::selection {
    color: white !important;
}

a:focus, *::selection {
    outline: none;
    background-color: var(--palette-green);
}

:root {
    --palette-red: #FE4B4B;
    --palette-yellow: #FCF876;
    --palette-green: #C3F0CA;
    --palette-black: #212121;
    --element-border-style: 1px solid #D0D4D6ab;
    /*Use this var to the padding-bottom of an element that has an underline for the padding between the text and underline, like the padding between the title "RANDOMIZER" and its underline that is a border bottom*/
    --element-underline-padding: 0.5em;
    /* Use this variable to center the cricle groups on a line. Call this variable on the circle group's top or bottom property. The way it center is by taking 10vh (the same height as each area's padding and subtracting 15px it is half of the height of the circles */
    --circle-centering: calc(10vh - 15px);
    /* Use these two properties for each area height and padding */
    --area-height: 100vh;
    --area-padding: 10vh 0;
    --table-borders: 0.1rem solid #000;
}

.animation-placeholder {
    background: #E5EFE7;
    border-radius: 50px;
}

.fnt-bold {
    font-weight: 700;
}

/* For multiple used styling - END */

/* For circles color - START */

.circle-group {
    position: absolute;
    width: max-content;
    height: 30px;
    z-index: 3;
}

circle:first-of-type {
    fill: var(--palette-red);
}

circle:nth-of-type(2) {
    fill: var(--palette-yellow);
}

circle:last-of-type {
    fill: var(--palette-green);
}

/* For circles color - END */

/* For Welcome area - START */

#area-welcome {
    display: flex;
    position: relative;
    width: 100%;
    height: var(--area-height);
    padding: var(--area-padding);
}

/* For introduction area - START */

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2em;
    border-top: var(--element-border-style);
}

#title-role {
    background-color: var(--palette-red);
    padding: 0 0.5em;
}

#title-randomizer {
    border-bottom: var(--element-border-style);
    padding-bottom: var(--element-underline-padding);
}

#introduction-texts {
    font-size: 1.3em;
    width: 80%;
    line-height: 1.4em;
}

#introduction li {
    list-style: decimal;
    margin-left: 1em;
}

#introduction a {
    color: inherit;
}

#area-welcome .circle-group:first-of-type {
    top: var(--circle-centering);
    left: 5%;
}

#area-welcome .circle-group:last-of-type {
    bottom: var(--circle-centering);
    right: 5%;
}

/* For introduction area - END */

/* For #welcome-animation area - START */

#welcome-animation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: var(--element-border-style);
}

#welcome-animation .animation-placeholder {
    flex-basis: 50%;
    height: 80%;
}

/* For #welcome-animation area - END */

/* For Welcome area - END */

/* For Input area - START */

#area-input {
    border-bottom: var(--element-border-style);
    border-top: var(--element-border-style);
    display: flex;
    height: calc(var(--area-height) + 50vh);
    justify-content: space-evenly;
    padding: var(--area-padding);
    position: relative;
    width: 100%;
    text-align: center;
    align-items: stretch;
}

#area-input section[id*="heading"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 761px;
}

#area-input h2 {
    border-bottom: var(--element-border-style);
    padding-bottom: 0.1em;
    margin-bottom: 0.1em;
}

#area-input section p:first-of-type {
    font-size: 1.8rem;
}

#area-input p.counter {
    font-size: calc(1.8rem + 4px);
}

#area-input p.counter-number {
    font-size: 4rem;
}

#area-input .circle-group:first-of-type {
    top: -15px;
}

/* For randomizer tables - START */

.randomizer-table {
    border-radius: 2.5rem;
    border: var(--table-borders);
    display: flex;
    flex: 0.9 0.8;
    flex-direction: column;
    max-height: 436px;
    min-height: 218px;
    min-width: 200px;
    overflow: hidden;
    width: 100%;
}

.randomizer-table>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.randomizer-table>*:not(:nth-child(2)) {
    flex: 0.25;
}

.randomizer-table h3 {
    font-size: 1.5rem;
}

.randomizer-table-double-column * {
    flex: 1;
}

.randomizer-table header {
    border-bottom: var(--table-borders);
}

.randomizer-table>section {
    align-items: stretch;
    flex: 1;
    overflow: auto;
}

.randomizer-table table {
    width: 100%;
}

.randomizer-table input {
    border: none;
    font-family: inherit;
    font-size: 1.1rem;
    height: 44px;
    width: 100%;
    outline: none;
    padding: 0;
    text-align: center;
}

.randomizer-table tr:not(:last-of-type) {
    border-bottom: var(--table-borders);
}

.randomizer-table footer {
    background: var(--palette-black);
    border-top: var(--table-borders);
}

.randomizer-table footer p {
    color: white;
    font-size: 1rem !important;
}

/* For members input table - START */

#heading-members .randomizer-table header {
    background-color: var(--palette-red);
}

/* For members input table - END */

/* For roles input table - START */

#heading-roles .randomizer-table header {
    background-color: var(--palette-yellow);
}

/* For roles input table - END */

/* CMT nanti buat yg dua column itu pake class aja juga karna kan dipake buat di hasil dan di atas juga */

/* For randomizer tables - END */