@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
/* For CSS Reset - START */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* For CSS Reset - END */

/* For default styling - START */

* {
    box-sizing: border-box;
}

html {
    font: 400 1.25em 'PT Sans Narrow', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --palette-red: #FE4B4B;
    --palette-yellow: #FCF876;
    --palette-green: #C3F0CA;
    --palette-black: #212121;
    --element-border-style: 1px solid #D0D4D6ab;
    --element-border-padding: 0.5em;
}

/* For default styling - END */

/* For circles color - START */

.circle-group {
    position: absolute;
    width: 7.9rem;
}

circle:first-of-type {
    fill: var(--palette-red);
}

circle:nth-of-type(2) {
    fill: var(--palette-yellow);
}

circle:last-of-type {
    fill: var(--palette-green);
}

/* For circles color - END */

/* For Welcome area - START */

#welcome {
    display: flex;
}

/* For introduction area - START */

h1 {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
}

#introduction {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 2em;
    margin-top: 2em;
    border-top: var(--element-border-style);
}

#title-role {
    background-color: var(--palette-red);
    padding: 0 0.5em;
}

#title-randomizer {
    border-bottom: var(--element-border-style);
    padding-bottom: var(--element-border-padding);
}

#introduction-texts {
    font-size: 1.3em;
    width: 80%;
    line-height: 1.4em;
}

#introduction li {
    list-style: decimal;
    margin-left: 1em;
}

#introduction a {
    color: inherit;
}

#welcome .circle-group {
    top: 0;
}

/* For introduction area - END */

/* For Welcome area - END */