/* #region QnA area */

#area-QnA {
    position: relative;
    border-top: var(--element-border-style);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    padding: 4vh 0;
}

#area-QnA * {
    text-align: center;
}

#area-QnA h2 {
    border-bottom: var(--element-border-style);
    padding-bottom: 0.2em;
    margin-bottom: 0.1em;
    font-size: 4em;
}

#area-QnA article {
    flex: 1;
    width: 80%;
}

#area-QnA article:last-of-type {
    padding-top: 0.5em;
}

#area-QnA h3 {
    font-size: 2.5em;
}

#area-QnA p {
    font-size: 1.3em;
    text-align: left;
    padding-top: 0.4em;
}

/* #endregion QnA area */

/* #region author area */

#area-author {
    align-items: center;
    background: var(--palette-black);
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    padding: 0;
    position: relative;
}

#area-author * {
    color: white;
    font-family: inherit;
    text-align: center;
}

#area-author h2 {
    font-size: 0.9em;
}

#area-author article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.5;
}

#area-author small {
    font-size: 0.5em;
}

#area-author svg:not(.circle-group) {
    fill: white;
    height: 1.2em;
}

/* #endregion author area */

@media screen and (max-width: 650px) {
    #area-QnA {
        font-size: 3.5vmax;
        height: max-content !important;
    }
    #area-author {
        height: 150px;
    }
}