#area-result {
    align-items: center;
    border-top: var(--element-border-style);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#area-result button {
    font-family: inherit;
    font-size: 2em;
    cursor: pointer;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    z-index: 1;
}

#area-result .randomizer-table-double-column button:first-of-type:hover, #area-result .randomizer-table-double-column button:first-of-type:focus {
    background: var(--palette-green-active);
}

#area-result footer button:first-of-type:hover, #area-result footer button:first-of-type:focus {
    background: var(--palette-red-active);
}

#area-result footer button:hover, #area-result footer button:focus {
    background: var(--palette-green-active);
}

#area-result footer button:last-of-type:hover, #area-result footer button:last-of-type:focus {
    background: var(--palette-yellow-active);
}

#area-result .randomizer-table-double-column {
    flex: 0.55 0;
    min-height: 0;
    position: relative;
    transition: flex-grow 0.5s ease-in-out, width 0.5s ease-in-out;
    width: 25%;
}

#area-result .randomizer-table-double-column header {
    background: var(--palette-green);
    flex: 0.25;
}

#area-result h2 {
    font-size: 2.5rem;
}

#area-result h2:first-of-type {
    border-right: var(--table-borders);
}

#area-result h2 svg {
    height: 0.8em;
    max-height: 0.8em;
}

#area-result h2 path {
    cursor: pointer;
    transition: fill 0.3s ease;
}

#area-result h2 svg:nth-of-type(odd) {
    fill: var(--palette-red);
}

#area-result h2 path:hover, #area-result h2 path:focus {
    fill: var(--palette-red-active);
}

#area-result h2 svg:nth-of-type(even) {
    transform: rotate(180deg);
    fill: var(--palette-yellow);
}

#area-result h2 svg:nth-of-type(even) path:hover, #area-result h2 svg:nth-of-type(even) path:focus {
    fill: var(--palette-yellow-active);
}

#area-result .randomizer-table-double-column section {
    flex: 0.75;
}

#area-result .randomizer-table-double-column section table * {
    text-align: center;
}

.results-clicked {
    flex: 0.8 !important;
    width: 80% !important;
}

.results-button-invisible {
    opacity: 0 !important;
}

#area-result .randomizer-table-double-column button {
    background: var(--palette-green);
    border-radius: 2.5rem;
    border: var(--element-border-style);
    color: var(--palette-black);
    font-size: 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

/* #region extra buttons */

#area-result footer {
    justify-content: space-between;
    width: 20%;
}

#area-result footer, #area-result footer button {
    display: flex;
    align-items: center;
}

#area-result footer button {
    border: none;
    padding: 0.4em;
    border-radius: 2.5rem;
    transform: scale(0.7);
}

/* #region copy to clipboard button  */

#area-result footer button:first-of-type {
    position: relative;
    background: var(--palette-red);
}

#copy-popup {
    position: absolute;
    top: calc(100% + 30px);
    left: -25%;
    background-color: var(--palette-red);
    width: max-content;
    padding: 0 0.25em;
    transition: opacity 0.3s ease;
}

#copy-popup::after {
    content: "";
    bottom: 90%;
    left: calc(50% - 20px);
    position: absolute;
    border: 20px solid;
    border-color: transparent transparent var(--palette-red) transparent;
}

/* #endregion copy to clipboard button */

#area-result footer button {
    background: var(--palette-green);
}

#area-result footer button:last-of-type {
    background: var(--palette-yellow);
}

#area-result footer button:hover {
    opacity: 1;
}

/* #endregion extra buttons */

@media screen and (max-width: 1000px) {
    #results-container {
        width: 80vw !important;
    }
    #results-container h2 {
        font-size: 6vw !important;
    }
    #area-result footer {
        width: max-content;
    }
}

@media screen and (max-width: 650px) {
    #results-container h2 {
        flex-direction: column;
        justify-content: space-evenly;
    }
}