@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
/* #region CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* #endregion CSS Reset */

/* #region multiple used styling */

* {
    box-sizing: border-box;
    color: var(--palette-black);
}

h2 {
    font-size: 5rem;
}

html {
    font: 400 1.25em "PT Sans Narrow", sans-serif;
    scroll-behavior: smooth;
}

*::selection {
    color: white !important;
    outline: none;
    background-color: var(--palette-green);
}

:root {
    --palette-red: #fe4b4b;
    --palette-red-pale: #f37575;
    --palette-red-active: #cc3e3e;
    --palette-yellow: #fcf876;
    --palette-yellow-active: #dad670;
    --palette-green: #c3f0ca;
    --palette-green-active: #8cdd9b;
    --palette-black: #212121;
    --element-border-style: 1px solid #d0d4d6ab;
    /*Use this var to the padding-bottom of an element that has an underline for the padding between the text and underline, like the padding between the title "RANDOMIZER" and its underline that is a border bottom*/
    --element-underline-padding: 0.5em;
    /* Use this variable to center the cricle groups on a line. Call this variable on the circle group's top or bottom property. The way it is centered is by taking 10vh (the same height as each area's padding and subtracting 15px which is half of the height of the circles */
    --circle-centering: calc(10vh - 15px);
    --table-borders: 0.1rem solid #000;
}

.animation-placeholder {
    background: #e5efe7;
    border-radius: 50px;
}

.fnt-bold {
    font-weight: 700;
}

*[id^="area"] {
    height: 100vh;
    padding: 10vh 0;
    width: 100%;
}

@media screen and (max-height: 650px) {
    *[id^="area"] {
        padding: 3rem 0 !important;
    }
    #area-welcome, #area-result {
        height: 700px !important;
    }
    #area-input {
        height: 1400px !important;
    }
    #area-QnA {
        height: max-content !important;
    }
    #area-author {
        height: 100px !important;
        padding: 0 !important;
    }
}

/* #endregion multiple used styling */

/* #region circle group */

.circle-group {
    position: absolute;
    width: max-content;
    height: 30px;
    z-index: 3;
}

circle:first-of-type {
    fill: var(--palette-red);
}

circle:nth-of-type(2) {
    fill: var(--palette-yellow);
}

circle:last-of-type {
    fill: var(--palette-green);
}

*[id^="area"]:not(header) .circle-group {
    top: -15px;
}

@media screen and (max-width: 650px), screen and (max-height: 700px) {
    :root {
        /* 3rem is from the area's padding on max-height 700px breakpoints and 10px is half of the circle's height */
        --circle-centering: calc(3rem - 10px);
    }
    .circle-group {
        height: 20px;
    }
    *[id^="area"]:not(header) .circle-group {
        top: -10px;
    }
}

/* #endregion circle group */

/* #region custom scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--palette-red);
    border-radius: 50px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    background: none;
    border-left: var(--element-border-style);
}

/* #endregion custom scrollbar */

/* #region floating buttons */

#button-floating {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: fixed;
    right: 10px;
    z-index: 4;
}

#button-floating svg {
    height: 50%;
}

#button-floating button {
    align-items: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0.9em 0.6em -0.3em #656565ad;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 5vmax;
    justify-content: center;
    max-height: 151px;
    max-width: 151px;
    transform: scale(0, 0);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 5vmax;
}

.floating-button-active {
    transform: scale(1, 1) !important;
}

#button-floating button:first-of-type {
    background: var(--palette-green);
    margin-top: 6vh;
}

#button-floating button:first-of-type:hover, #button-floating button:first-of-type:focus {
    background: var(--palette-green-active);
}

#button-floating button:last-of-type {
    background: var(--palette-red);
    margin-bottom: 6vh;
}

#button-floating button:last-of-type:hover, #button-floating button:last-of-type:focus {
    background: var(--palette-red-active);
}

/* #endregion floating buttons */